<section>
	<hr>
	<div class="container" align="center">
		<h1>  AcidTech</h1>
		<div class="container">
			<%= image_tag("logo.png", :alt => "Acid Tech" , :class => "img-responsive footer_logo" ) %>
		</div>
	</div>
	<div class="container footer-navbar"  style="background-color: #424242; width:  100%;>
		<div class="row">
			<div class="col-sm-12" align="center">
				<div>
					<ul class="nav navbar-nav">
						<li class="active"><%= link_to "Today", root_path %> <span class="sr-only">(current)</span></a></li>

						<li role="presentation"><%= link_to "Advertise", root_path %></li>
						<li role="presentation"><%= link_to "Team AcidTech", root_path %></li>
					</ul> 
				</div>
			</div>
		</div>
	</div>
	<div class="container categories" style="background-color: #212121; width: 100%; padding-bottom: 25px;" > 
		<div class="row">
			<div class="col-sm-12" align="center" style="padding-top: 10px;">
				<ul class="nav navbar-nav" >
					<li><%= link_to "Tech News", static_tech_news_path %> </li>
					<li><%= link_to "Gadget News", static_gadget_news_path %></li>
					<li><%= link_to "Gamers Hub", static_gamers_hub_path %></li>
					<li><%= link_to "DIY", static_diy_path %></li>
				</ul>
			</div>
		</div>
	</div>
</section>
