<section style="background-color: #616161;">
	<hr>
	<div class="container" align="center">
		<div class="container" style="padding-bottom: 20px;">
			<%= image_tag("logo.png", :alt => "Acid Tech" , :class => "img-responsive footer_logo" )%>
			<h4 style=" font-size: 12px; padding-top: 10px; color: white; font-weight: 300;"> AcidTech &copy; 2018</h4>
		</div>
	</div>
	<div class="container footer-navbar"  style="background-color: #424242; width:  100%; padding-bottom: 10px; padding-top: 10px;">

		<div class="row">
			<div class="col-sm-12" align="center">
			
					<ul class="footer-nav navbar-nav">
						<li role="presentation" ><%= link_to "Today", root_path , :style => "color:white;"%> <span class="sr-only">(current)</span></a></li>

						<li role="presentation"><%= link_to "Advertise", root_path, :style => "color:white;" %></li>
						<li role="presentation"><%= link_to "Team AcidTech", root_path , :style => "color:white;"%></li>
					</ul> 

			</div>
		</div>
	</div>
	<div class="container categories" style="background-color: #212121; width: 100%; padding-bottom: 25px; padding-top: 10px;" > 
		<div class="row">
			<div class="col-sm-12" align="center" style="padding-top: 10px;">
				<ul class="footer-nav navbar-nav" >
					<li><%= link_to "Tech News", static_tech_news_path , :style => "color:white;"%> </li>
					<li><%= link_to "Gadget News", static_gadget_news_path , :style => "color:white;"%></li>
					<li><%= link_to "Gamers Hub", static_gamers_hub_path , :style => "color:white;"%></li>
					<li><%= link_to "DIY", static_diy_path , :style => "color:white;"%></li>
				</ul>
			</div>
		</div>
	</div>
</section>
